.login {
    text-align: center;
    background-color: #111111;
    padding: 0px;
    height: 100%;
  }
  
  .login-logo {
    align-items: center;
  }
  @media (prefers-reduced-motion: no-preference) {
    
  }
  
  
  .login-link {
    color: #61dafb;
  }
  